body {
    overflow-x: hidden;
    background-color: rgb(19, 25, 43);
}

#made-by{
    margin-left: 8vw;
    color: rgb(174, 174, 174);
}
nav {
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.quicklinks {
    padding: 5px;
}

.special{
    font-size: 20px;
}
.menu_item {
    cursor: pointer;
    text-decoration: none;
    color: aquamarine;
}

nav h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}

.heading {
    margin-left: 8vw;
    font-size: 40px;
    font-weight: bold;
}

#link {
    margin-left: 8vw;
    color: white;
    cursor: pointer;
}

.about {
    margin-left: 8vw;
    /* font-size: 20px; */
    width: 1300px;
    font-size: 16.3px;
}

.about p {
    color: rgb(201, 201, 201);
    text-align: justify;
}

.gif_container {
    margin-left: 8vw;
}

/* dont change this....don't know why, but it's maintaining the color for the ordered list's points*/
/* sorry I changed it a bit, fixed your issue -chatz */
.accordians_container ul,
li {
    color: rgb(201, 201, 201);
}

.list_subheading {
    color: white;
}

#inspiration,
#objectives,
#challenges,
#resources,
#member-roles {
    margin-left: 8vw;
    font-size: 16.5;
}


#make_it_white {
    color: white;
}

#objectives ol li::marker {
    color: white;
}

.accordian-wrapper{
    width: 80vw;
}

.acc_item{
    background-color: rgb(19, 25, 43);
}

.acc_item p{
    color: white;
}

footer{
    background-color: black;
    height: 70px;
    color: white;
    /* position: absolute; */
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    flex-direction: column;
}
.ref-links a{
    color: rgb(193, 126, 255)!important;
    text-decoration: underline;
}

.full-body{
    width:80vw;
}

.gif-insert{
    width: 80%;
}

.overview-desc{
    width:80vw;
}
@media(max-width:1385px){
    html{
        font-size: 70%;
    }
    .about{
        font-size: 14px;
    }
}

#moo a{
    color: white;
}

